$red1: #f6b8c5;
$red2: #62494e;
table.playlist {

  td {
    vertical-align: middle !important;
  }

  td.voting {
    background-color: #e3e7e4;
  }

  tr.played {
    color: #aaa;

    i:hover {
      color: $red1;
    }

    i.voted {
      color: $red2;
    }

  }
  .votes {
    vertical-align: middle;
    margin-left: 3px;
    font-weight: bold;
    font-family: cursive;
  }

  tr.current {
     background-color: $red2;
     color: #fdfdfd;
  }

}

.nav-tabs > li > a {
  color: #999;
}

.on-air-background {
  padding: 200px 0 60px;
  color: #fdfdfd;
  background-image: url("/img/onair.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.on-air-background h2.slogan {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
}

/* inner heading */
.on-air-background.inner {
  background: #eee;
  padding: 150px 0 50px;
}


#browser-tab input[type=text] {
  width: 100%;
  background: rgba(227, 231, 228, 1);
  font-family: 'Open Sans', sans serif;
  border: 0;
  font-size:14px;
  text-align: left;
  vertical-align: middle;
  padding:0 10px;
}
#browser-tab input[type=text]:focus {
  background: rgba(101, 106, 100, 1);
  color: #eff1ef;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: background 0.25 ease-in;
  -moz-transition: background 0.25 ease-in;
  -webkit-transition: background 0.25 ease-in;
}


#mask{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:1035;
  width:100%;
  height:100%;
  display:none;
}
#relax-overlay {
    height:80%;
    width:80%;
    margin-top: 100px;
    display:none;
    position:absolute;
    color:black;
    background:white;
    top:5%;
    left:10%;
    z-index:1040;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    overflow: hidden;

    $num: 15;
    @for $i from 1 through $num{
      .matter:nth-of-type(#{$i}){
        border: 1px solid #222;
        border-radius: $i*5*($i*1.01)+px;
        height: $i*5*($i*1.01)+px;
        width: $i*5*($i*1.01)+px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$i*5*$i/2+px;
        margin-left: -$i*5*$i/2+px;
        animation: spin $i/2+s linear infinite;
      }
      .matter:nth-of-type(#{$i}):after{
        content: '';
        display: block;
        width: $i*5px;
        height: $i*5px;
        background: hsla($i*36, 35, 45, 1);
        border-radius: $i*5/2+px;
        position: absolute;
        right: 50%;
        margin-right: -$i*5/2+px;
        margin-top: -$i*5/2+px;
        box-shadow: inset 1px 2px $i+px #000;
      }
    }
    @keyframes spin{
      to{
        transform:rotate(360deg);
      }
    }
}
.display-overlay {
  display:block !important;
  opacity:1;
}
