table.playlist {

  td {
    vertical-align: middle !important;
  }

  td.voting {
    background-color: #efebed;
  }

  tr.played {
    color: #aaa;

    i:hover {
      color: #79CDC0;
    }

    i.voted {
      color: #35A49C;
    }

    .votes {
      vertical-align: middle;
      margin-left: 3px;
      font-weight: bold;
      font-family: cursive;
    }
  }

  tr.current {
     background-color: #79CDC0;
  }

}

.nav-tabs > li > a {
  color: #999;
}

#browser-tab input[type=text] {
  width: 100%;
  background: rgba(227, 231, 228, 1);
  font-family: 'Open Sans', sans serif;
  border: 0;
  font-size:14px;
  text-align: left;
  vertical-align: middle;
  padding:0 10px;
}
#browser-tab input[type=text]:focus {
  background: rgba(101, 106, 100, 1);
  color: #eff1ef;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: background 0.25 ease-in;
  -moz-transition: background 0.25 ease-in;
  -webkit-transition: background 0.25 ease-in;
}

@keyframes fa-blink {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}
.fa-blink {
  -webkit-animation: fa-blink 2s linear infinite;
  -moz-animation: fa-blink 2s linear infinite;
  -ms-animation: fa-blink 2s linear infinite;
  -o-animation: fa-blink 2s linear infinite;
  animation: fa-blink 2s linear infinite;
}
